{% if customer.tags contains 'member' %}
  {% section 'template--article' %}
{% else %}  
</div>
  <div class="protected-bg">
    {% section 'template--protected-content' %}
  </div>
<div>  
{% endif %}